<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card ">
                    <div class="card-header ">
                        <h4 class="card-title">Temperatura da Estufa</h4>
                    </div>
                    <div class="card-body ">
                        <canvas id="graficoTemperatura"></canvas>
                        <div class="stats">
                            <i class="fa fa-history"></i> Updated 1 Hour ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card ">
                    <div class="card-header ">
                        <h4 class="card-title">Úmidade da Estufa</h4>
                    </div>
                    <div class="card-body ">
                        <div class="chart">
                            <canvas id="graficoUmidade"></canvas>
                        </div>
                        <div class="stats">
                            <i class="fa fa-history"></i> Updated 1 Hour ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* <div class="row">
            <div class="col-md-6">
                <div class="card ">
                    <div class="card-header ">
                        <h4 class="card-title">2017 Sales</h4>
                        <p class="card-category">All products including Taxes</p>
                    </div>
                    <div class="card-body ">
                        <div id="chartActivity" class="ct-chart"></div>
                    </div>
                    <div class="card-footer ">
                        <div class="legend">
                            <i class="fa fa-circle text-info"></i> Tesla Model S
                            <i class="fa fa-circle text-danger"></i> BMW 5 Series
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="fa fa-check"></i> Data information certified
                        </div>
                    </div>
                </div>
            </div>
        </div> *@
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="https://raw.githubusercontent.com/chartjs/Chart.js/master/samples/utils.js"></script>
<script>
    var horas = ['0AM','1AM','2AM','3AM','4AM','5AM','6AM','7AM','8AM','9AM','10AM','11AM','12PM','1PM','2PM','3PM','4PM','5PM','9PM','10PM','11PM']

    var graficoTemperatura = document.getElementById('graficoTemperatura');
    var configTemperatura = {
            type: 'line',

        data: {
            labels: ['2000', '2001', '2002', '2003', '2004', '2005'],

            datasets: [
                {
                    label: 'Crecimento Populacional',
                    data: [173448346, 175885229, 178276128, 180619108, 182911487, 185150806]
                }
            ]
        },
        options: {
			responsive: true,
			tooltips: {
				mode: 'index',
			},
			hover: {
				mode: 'index'
			},
			scales: {
				xAxes: [{
					scaleLabel: {
						display: true,
						labelString: 'Horas'
					}
				}],
				yAxes: [{
					stacked: true,
					scaleLabel: {
						display: true,
						labelString: 'Temperatura'
					}
				}]
			}
		}
    }
    var chartTemperatura = new Chart(graficoTemperatura, configTemperatura);


    var graficoUmidade = document.getElementById('graficoUmidade');
    var configUmidade = {
            type: 'line',

        data: {
            labels: ['2000', '2001', '2002', '2003', '2004', '2005'],

            datasets: [
                {
                    label: 'Crecimento Populacional',
                    data: [173448346, 175885229, 178276128, 180619108, 182911487, 185150806]
                }
            ]
        },
        options: {
			responsive: true,
			tooltips: {
				mode: 'index',
			},
			hover: {
				mode: 'index'
			},
			scales: {
				xAxes: [{
					scaleLabel: {
						display: true,
						labelString: 'Horas'
					}
				}],
				yAxes: [{
					stacked: true,
					scaleLabel: {
						display: true,
						labelString: 'Úmidade'
					}
				}]
			}
		}
    }
    var chartUmidade = new Chart(graficoUmidade, configUmidade );

    document.getElementById('adicionaHora').addEventListener('click', function() {
		var horasTemperaura = horas[configTemperatura.data.labels.length % horas.length];
		configTemperatura.data.labels.push(horasTemperaura);
        configTemperatura.data.datasets.forEach(function(dataset) {
			dataset.data.push(randomScalingFactor());
		});

		var horasUmidade = horas[configUmidade.data.labels.length % horas.length];
		configUmidade.data.labels.push(horasUmidade);
        configUmidade.data.datasets.forEach(function(dataset) {
			dataset.data.push(randomScalingFactor());
		});
		window.myLine.update();
	});

</script>