@model List<Projeto_cti.Models.Leituras>
<head>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js'></script>
    <script src="~/Content/js/Charts.js"></script>
</head>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card border-light mb-3 " >
                    <div class="card-header ">
                        <h4 class="card-title">Temperatura da Estufa</h4>
                    </div>
                    <div class="card-body ">
                        <div id="temperatura"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card border-light mb-3">
                    <div class="card-header ">
                        <h4 class="card-title">Úmidade da Estufa</h4>
                    </div>
                    <div class="card-body ">
                        <div id="umidade"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="padding-top: 5px;background-color: white;">
                <div class="card border-light mb-3">
                    <div class="form">
                        <table class="table">
                            <thead class="thead-dark">
                                <th>Hora</th>
                                <th>Umidade</th>
                                <th>Temperatura</th>  
                            </thead>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.Hora</td>
                                <td>@item.Umidade</td>
                                <td>@item.Temperatura</td>
                            </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    Plotly.newPlot('temperatura', dataTemperatura, layoutTemperatura);
    Plotly.newPlot('umidade', dataUmidade, layoutUmidade);

//Metodo AJAX para alimentar charts e table
    //$.ajax({
    //    method: "GET",
    //    url: "test.js",
    //    data: {
    //        
    //    },
    //    dataType: "script"
    //});

</script>
